.app-header {
    height: 80px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;

}

.app-header .app-header--title {
    font-size: 300%;
    line-height: 100%;
    padding-left: 5px;
    padding-bottom: 25px;

    
    background-color: #9c9f84;
}